body{
    font-family: 'Roboto', Arial, sans-serif;
    text-shadow: 0px 1px 0px #dfdfdf;
    color: #333333;
    font-size: 1.2em;
}

a {
  color: #0088cc;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #005580;
  text-decoration: underline;
}

img{
    border: 1px solid #ccc;
    padding: 3px;
    border-radius: 4px;
}

.head-wrapper,
.body-wrapper,
.foot-wrapper{ margin: 0 auto; width: 800px; }

.foot{
    margin-top: 80px;
}

.logo{ font-size: 4em; font-weight: bold; }
.logo a{ color: #333333; }
.logo a:hover, .logo a:focus{ color: #333333; text-decoration: none; }

dl dt{ font-weight: bold; padding: 5px 0; }
dl dd{ margin: 0 0 10px 0; }

.participant img{
    border: 5px solid #fff;
    box-shadow: 1px 1px 10px #777;
    margin: 5px;
    padding: 0px;
    border-radius: 60px;
}
